<mat-card class="input-card">
    <mat-card-header>
        <mat-card-title>Input</mat-card-title>
        <mat-card-subtitle>Please complete</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form>
            <mat-form-field>
                <input matInput placeholder="Principle" value="" type="number" autocomplete="off" (input)="onKeyPrinciple($event)">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Contribution (Monthly)" value="" type="number" autocomplete="off" (input)="onKeyContribution($event)">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Interest Rate" value="" type="number" autocomplete="off" (input)="onKeyInterestRate($event)">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Iterations" value="" type="number" autocomplete="off" (input)="onKeyIterations($event)">
            </mat-form-field>
        </form>
    </mat-card-content>
</mat-card>