<mat-card class="input-card">
    <mat-card-header>
        <mat-card-title>Input</mat-card-title>
        <mat-card-subtitle>Please complete</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form">
            <mat-form-field>
                <input matInput placeholder="Principle" value="" autocomplete="off" (keyup)="onKeyPrinciple($event)">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Contribution (Monthly)" value="" autocomplete="off" (keyup)="onKeyContribution($event)">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Interest Rate" value="" autocomplete="off" (keyup)="onKeyInterestRate($event)">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Iterations" value="" autocomplete="off" (keyup)="onKeyIterations($event)">
            </mat-form-field>
        </form>
    </mat-card-content>
</mat-card>